<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include jQuery from a CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Barcode Generator</title>
</head>
<body>
    <h1>Jaun</h1>
        <!-- Input field to capture scanner data -->
        <input type="text" id="scanner-input" autofocus placeholder="Scan barcode here" />
        <p>Full Scanned Data: <span id="scanned-data"></span></p>
    <%-include("__footer")%>
</body>
</html>